@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Drag and drop */

.task-wrapper {
  user-select: none;
}

.dragging {
  opacity: 0.5;
}

.drag-over-before {
  border-top: 2px solid blue;
}

.drag-over-after {
  border-bottom: 2px solid blue;
}