@import "tailwindcss/preflight";
@tailwind utilities;

/* Drag and drop styles */
.dragging {
  opacity: 0.5;
  border: 2px dashed #3b82f6 !important;
}

.drag-over-before, .drag-over-after {
  border: 2px dashed #3b82f6 !important;
  padding: 10px !important;
}